:host {
  display: block;
  padding: 10px;
  height: calc(100% - 20px);
  display: flex;
  flex-direction: column;
}
#debugWindow {
  height: 50px;
  overflow: auto;
  border: 1px solid var(--color-light);
  padding: 5px;
  margin-top: auto;
}
.debug-status[data-status='401'] {
  color: #bd3333;
}
