<odkxm-server-login></odkxm-server-login>
<form
  *ngIf="(odkRest.allAppIds$ | async).length > 0"
  style="margin-top: 20px;"
  #f="ngForm"
>
  <mat-form-field>
    <mat-label>App ID</mat-label>
    <select
      matNativeControl
      (change)="odkRest.setAppId($event)"
      [value]="odkRest.appId$ | async"
    >
      <option *ngFor="let appId of odkRest.allAppIds$ | async" [value]="appId"
        >{{ appId }}
      </option>
    </select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Table ID</mat-label>
    <select
      name="table"
      ngModel
      [compareWith]="compareById"
      matNativeControl
      (change)="odkRest.setTable(f.value.table)"
    >
      <option *ngFor="let table of odkRest.allTables$ | async" [ngValue]="table"
        >{{ table.tableId }}
      </option>
    </select>
  </mat-form-field>
</form>
