@import './theme/theme.scss';
// Plus imports for other components in your app.
@import '../../../node_modules/ag-grid-community/dist/styles/ag-grid.css';
@import '../../../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css';

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  --color-light: #e2e2e2;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.padding {
  padding: 10px;
}
.mat-tooltip.tooltip {
  font-size: small;
  background: rgb(65, 56, 56, 0.9);
}
.page {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}
