.form-row {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.field-meta {
  padding: 5px;
  flex: 1;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.field-value-meta {
  padding: 5px;
  flex: 1;
  display: flex;
  align-items: center;
}
.field-value-meta[data-field-changed='true'] {
  background: lavender;
}
.field-prompt {
  margin-bottom: 8px;
}
.field-name,
.field-type {
  font-size: small;
  opacity: 0.5;
  font-style: italic;
  word-break: break-word;
  display: flex;
}
.field-type {
  width: 65px;
  margin-left: 8px;
}
.field-input-container {
  flex: 1;
  display: flex;
}
.field-value-meta.field-display-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.field-value-meta.field-display-disabled > * {
  pointer-events: none;
}
.field-value {
  padding: 5px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.mat-dialog-content {
  max-height: unset;
}
.field-calc-icon {
  opacity: 0.5;
  margin-left: auto;
}
.edit-undo-button {
  margin-left: 8px;
  width: 30px;
  min-width: unset;
  padding: 0;
}
.form-container {
  overflow-x: hidden;
  overflow-y: auto;
}

select,
input,
textarea {
  width: 100%;
}

input:invalid {
  border: 2px solid #fb8585;
}
