<div style="display: flex; flex-direction: column; height: 100%; overflow: hidden">
  <h2 mat-dialog-title>Edit Row</h2>
  <div mat-dialog-content>
    <div *ngIf="loading" style="display: flex; align-items: center">
      <mat-spinner diameter="50" style="margin-right: 8px"></mat-spinner>
      <span style="margin-left: 1em">Loading Survey Questions</span>
    </div>
    <div *ngIf="!loading">
      <form>
        <div *ngFor="let field of fields" class="form-row">
          <div class="field-meta">
            <div class="field-prompt">{{ field.display?.prompt?.text }}</div>
            <div class="field-name">{{ field.name }}</div>
          </div>
          <div class="field-value-meta" [ngSwitch]="field.type" class="field-value">
            <div style="flex: 1">
              <input *ngSwitchCase="'text'" [value]="field.value" />
              <textarea *ngSwitchCase="'textarea'">{{field.value}}</textarea>
              <select *ngSwitchCase="'select_one'">
                <option
                  *ngFor="let option of field.select_options"
                  [value]="option.value"
                  [selected]="option.value===field.value"
                >
                  {{option.value}} - {{option.label}}
                </option>
              </select>

              <select *ngSwitchCase="'select_one_dropdown'">
                <option
                  *ngFor="let option of field.select_options"
                  [value]="option.value"
                  [selected]="option.value===field.value"
                >
                  {{option.value}} - {{option.label}}
                </option>
              </select>

              <select *ngSwitchCase="'select_multiple'" multiple>
                <option
                  *ngFor="let option of field.select_options"
                  [value]="option.value"
                  [selected]="field.value && field.value.indexOf(option.value)>-1"
                >
                  {{option.value}} - {{option.label}}
                </option>
              </select>

              <div *ngSwitchCase="'assign'" style="display: flex">
                <span style="flex: 1">{{ field.value }}</span>
                <mat-icon class="field-calc-icon" *ngIf="field.calculation">calculate</mat-icon>
              </div>
              <div *ngSwitchDefault style="display: flex; flex-direction: column; height: 100%">
                <div style="flex: 1">{{ field.value }}</div>
              </div>
            </div>

            <div class="field-name">{{ field.type }}</div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div mat-dialog-actions style="margin-top: auto; margin-left: auto">
    <button mat-button (click)="cancel()" cdkFocusInitial>Cancel</button>
    <button mat-button (click)="saveEdits()">Save Edits</button>
  </div>
</div>
